/* ------------ 全体 ------------ */
.site-width {
    margin: 0 auto 300px;
    width: 980px;
}
.price {
    display: block;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
a, a:active, a:focus {
    color: #b6a489;
}
.button {
    font-size: 14px;
    margin: 15px auto;
    padding: 15px 30px;
    border: none;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
.input-box {
    display: block;
    margin: 0 auto;
    width: 90%;
}
.input-box2 {
    display: flex;
    width: 40%;
}
main {
    min-height: 600px;
}
/* ------------ ヘッダー ------------ */
header {
    margin-bottom: 30px;
    width: 100%;
    height: 80px;
    background: #333;
}
header h1 {
    float: left;
    margin: 0;
    padding-left: 15px;
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 80px;
}
.header-line {
    display: flex;
    justify-content: space-between;
}
header h1 a {
    color: #b6a489;
    text-decoration: none;
    width: 20%;
}
.swich-auth {
    color: white;
    text-align: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
}
.swich-auth a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}
.auth-btn {
    background-color: #333;
    width: fit-content;
    color: white;
}
/* ------------ フッター ------------ */
footer {
    position: fixed;
    bottom: 0;
    padding: 15px;
    width: 100%;
    height: 50px;
    background: #333;
    color: #f6f5f5;
    text-align: center;
    font-size: 12px;
}
footer a {
    color: #f6f5f5;
}

/* ------------ トップページ ------------ */
/* 検索バー */
.sidebar {
    float: left;
    box-sizing: border-box;
    margin-right: 20px;
    padding: 15px;
    width: 200px;
}
.sidebar-title {
    text-align: center;
    font-weight: bold;
}
.search-title {
    text-align: left;
    font-size: 14px;
}
.search-box {
    padding: 10px;
    background: #f6f5f4;
}
.submit-btn {
    width: 100%;
    background: #333;
    color: white;
}
.transition-btn {
    width: 100%;
    background: #b6a489;
    color: white;
}
/* 商品一覧 */
.panel-list {
    overflow: hidden;
    margin-right: -15px;
}
.panel-list > .panel {
    float: left;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding-right: 15px;
    min-height: 185px;
    width: 25%;
    color: #333;
    text-decoration: none;
    line-height: 1.2em;
}
a.panel:hover {
    text-decoration: underline;
}
.panel-list > .panel img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.panel-list > .panel .panel-title {
    margin: 0;
}
/* ------------ 商品登録&編集 ------------ */
.page-title {
    font-size: 32px;
    margin-bottom: 50px;
    text-align: center;
}
.form-container {
    margin: 0 auto;
}
.form {
    margin: 0 auto;
    padding: 30px;
    width: 800px;
    border: 5px solid #f1f1f1;
}
.form > table {
    margin: 0 auto;
}
.form > .area-msg {
    padding: 0 0 15px 0;
    color: red;
}
.form-select, .create-form {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 60px;
    border: none;
    background: #f6f5f5;
    display: block;
}
.area-drop {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 150px;
    border: none;
    background: #f6f5f5;
    display: block;
    color: #bbbaba;
    text-align: center;
}
.del-btn {
    width: 100%;
    background-color: rgb(212, 0, 0);
    color: white;
}
/* ------------ 商品詳細 ------------ */
.show-main {
    width: 100%;
    float: left;
    min-height: 600px;
}
.product-title {
    font-size: 28px;
    padding: 10px 0;
}
.badge {
    font-size: 16px;
    padding: 5px;
    color: white;
    background: #7acee6;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    top: -4px;
}
.product-img-container {
    overflow: hidden;
}
.product-img-container .img-main {
    width: 750px;
    float: left;
}
.product-img-container .img-sub {
    width: 230px;
    float: left;
    background-color: #f6f5f4;
    padding: 15px;
    box-sizing: border-box;
}
.product-img-container .img-sub img {
    margin-bottom: 15px;
}
.product-img-container img {
    width: 100%;
}
.product-detail {
    background-color: #f6f5f4;
    padding: 15px;
    margin-top: 15px;
    min-height: 150px;
}
.product-buy {
    overflow: hidden;
    margin-top: 15px;
    /* height: 50px;
    line-height: 50px; */
    margin-bottom: 50px;
}
.product-buy .item-left {
    float: left;
}
.product-buy .item-right {
    float: right;   
}
.product-buy .price {
    font-size: 32px;
    margin-right: 30px;
}
.buy-btn {
    background: #b6a489;
    color: white;
    font-weight: bold;
}
/* .likes {
    color: #333;
}
.liked {
    color: red;
} */
/* ------------ カート ------------ */
.form-cart {
    margin: 0 auto;
    width: 80%;
}
.count-item {
    border-bottom: 1px solid #bbbaba;
}
.cart-item {
    margin: 30px auto 50px;
    padding-bottom: 15px;
    border: #bbbaba;
    border-bottom: 1px solid #bbbaba;
    min-height: 200px;
    display: flex;
    align-items: center;
}
.cart-img {
    object-fit: cover;
    height: 180px;
}
.cart-row {
    width: 20%  ;
}
.form-cart button {
    width: 100%;
}

